<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/template}">

<head>
    <title>Dashboard</title>
</head>

<body layout:fragment="content">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <table id="Table" class="table table-sm table-bordered">
                <thead class="table-light">
                <tr>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.getFullName()}"></td>
                    <td th:text="${contact.getEmail()}"></td>
                    <td th:text="${contact.getSubject()}"></td>
                    <td th:text="${contact.getContent()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>